body{
    margin: 0 20%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

}
nav li{
    display: inline;
}

nav a {
    display: inline;
    text-decoration: none;
    color: blue;
    margin-left: 50px;
}

nav li:hover{
    cursor: pointer;
    color: aqua;
    background-color: grey;
}


#about-me{
    display: flex;
    justify-content: space-between;
    
}
#about-me #text{
    max-width: 45%;
}
#about-me img{
    max-width: 45%;
}

.images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.images img{
    width: 100px;
}

/* Projects */
.Projects{
    /* margin-top: 50px; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    
}

.project {
    background-image: url(./ressources/FEND_Profil.jpeg);
    background-repeat: no repeat;
    width: 250px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}
.project h2{
    color: white;
    background-color: #fff 0.6;
}

.project h2:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5); /* Halbtransparentes Weiß */
}


